<form
  class="form-horizontal"
  autocomplete="off"
  #createDailyWorkModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewTask' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'TaskDetails' | localize" class="pt-3 px-2">

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="date">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="task.title"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="duration">
              {{ "Description" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="description"
                id="description"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="task.description"
                #userNameModel="ngModel"
                #userNameEl
              />
              <abp-validation-summary
                [control]="userNameModel"
                [controlEl]="userNameEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type">
              {{ "Assigned To" | localize }}
            </label>
          <div class="col-md-9">

            <select [(ngModel)]="task.assignedToId"  class="form-control" name="name" id="name">
                <option   required
                  *ngFor="let user of users" [ngValue]="user.id">{{user.userName}}</option>
                </select>

          </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type">
              {{ "Type" | localize }}
            </label>
            <div class="col-md-9">
  
             
              <select [(ngModel)]="task.typeId" class="form-control" name="type" id="type">
                  <option
                 *ngFor="let type of taskTypes"  [ngValue]="type.id">{{type.name}}
              </option>
                  </select>
  
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="priority">
              {{ "Priority" | localize }}
            </label>
            <div class="col-md-9">
  
             
              <select [(ngModel)]="task.priority" class="form-control" name="type" id="type">
                  <option [ngValue]="0">Low</option>
                  <option [ngValue]="1">Medium</option>
                  <option [ngValue]="2">High</option>
                  </select>
  
            </div>
          </div>
          


          
        
        
       
      </tab>
      
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createDailyWorkModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
