<form
  class="form-horizontal"
  autocomplete="off"
  #createDailyWorkModal="ngForm"
>
  <abp-modal-header
    [title]="'ViewTask' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'TaskDetails' | localize" class="pt-3 px-2">
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Bug" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isBug"
            id="isBug"
            [(ngModel)]="task.isBug"
            disabled="disabled"

          />
          <label class="custom-control-label mt-2" for="isBug"></label>
        </div>
      </div>
    </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="title">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              required
              [(ngModel)]="task.title"
              #userNameModel="ngModel"
              #userNameEl
              disabled="disabled"
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="duration">
              {{ "Description" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="description"
                id="description"
                required
                [(ngModel)]="task.description"
                #userNameModel="ngModel"
                #userNameEl
                disabled="disabled"
              />
              <abp-validation-summary
                [control]="userNameModel"
                [controlEl]="userNameEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type">
              {{ "Assigned To" | localize }}
            </label>
          <div class="col-md-9">

            <input [(ngModel)]="task.assignedTo.userName" disabled="disabled" class="form-control" name="name" id="name" />

          </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type">
              {{ "Type" | localize }}
            </label>
            <div class="col-md-9">
  
                <input disabled class="form-control" value="{{task.type.name}}" />

  
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="priority">
              {{ "Priority" | localize }}
            </label>
            <div class="col-md-9">
  
             
                  <input disabled class="form-control" *ngIf="task.priority == 0" value="Low" />
                  <input disabled class="form-control" *ngIf="task.priority == 1" value="Medium" />
                  <input disabled class="form-control" *ngIf="task.priority == 2" value="High" />
  
            </div>
          </div>
             
        </tab>
             
        <tab [heading]="'Editor' | localize" class="pt-3 px-2">
      
            <angular-editor [config]="config" [(ngModel)]="task.richTextDescription" [ngModelOptions]="{standalone: true}" ></angular-editor>
      
        </tab>
</tabset>

  </div>
  <abp-modal-footer
    [saveDisabled]="true"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
