<!-- <button class="btn btn-primary" (click)="refreshTasks()">Refresh</button> -->

<div class="card">

  <div class="card-body">
  <div class="row">
    <div class="col-md-3">
      <label>Project</label>
      <select (change)="projectChangedEvent()" [(ngModel)]="selectedProject"  class="form-control" name="proj" id="proj">
        <option   required
          *ngFor="let project of projects" [ngValue]="project.id">{{project.name}}</option>
        </select>

    </div>
    <div class="col-md-3">
      <label>Phase</label>
      <select [(ngModel)]="selectedPhase"  class="form-control" name="phase" id="phase">
        <option   required
          *ngFor="let phase of phases" [ngValue]="phase.id">{{phase.title}}</option>
        </select>
    </div>
  </div>
</div>
<div class="card-footer">
  <button  class="btn bg-secondary mx-2" style="width: 22rem;" (click)="clearFilters()">Clear Filters</button>
  <button  class="btn bg-primary mx-2" style="width: 22rem;" (click)="Go()">Go</button>
</div>
</div>

<div cdkDropListGroup >
    <div class="example-container" >
      <h2><i style="color: black" class="fas fa-power-off"></i> Proposed </h2>
  
      <div
        cdkDropList
        [cdkDropListData]="proposed"
        class="example-list"
        (cdkDropListDropped)="drop($event)" >
        <div class="card" *ngFor="let item of proposed" cdkDrag>
          <div *ngIf="item.isBug" style=" background-color: #f4dedd;border: 1px solid #9c4146;border-radius: 5px;box-shadow: 0px 0px 9px 0px #9c4146;
          ">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
            <!-- {{item.type?.name}} -->
            <i style="color: red;" class="fas fa-bug"></i>
          </div>
          <div class="col-4 " >
            <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
            <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
            <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
          </div>
          </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
          <div class="card-footer text-body-secondary">
            <div style="display: flex;justify-content: space-between;">
              <div >
                Assigned To : {{item.assignedTo?.userName}}
              </div>
              <div >
                <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
              </div>
            </div>

          </div>
        </div>
        <div *ngIf="!item.isBug" style="background-color: #d9e7cb;border: 1px solid #386a20;border-radius: 5px;box-shadow: 0px 0px 9px 0px #386a20;">

          <div class="card-header" style="background-color: #d9e7cb;">
            <div class="row">
              <div class="col-8">
            <!-- {{item.type?.name}} -->
            <i style="color: blue;" class="fas fa-tasks"></i>
          </div>
          <div class="col-4">
            <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
            <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
            <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
          </div>
          </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
          <div class="card-footer text-body-secondary">
              <div style="display: flex;justify-content: space-between;">
                <div >
                  Assigned To : {{item.assignedTo?.userName}}
                </div>
                <div >
                  <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
                </div>
  
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

 
  
    <div class="example-container">
      <h2><i style="color: green" class="fas fa-power-off"></i> Active </h2>
  
      <div
        cdkDropList
        [cdkDropListData]="active"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="card" *ngFor="let item of active" cdkDrag>
          <div *ngIf="item.isBug" style=" background-color: #f4dedd;border: 1px solid #9c4146;border-radius: 5px;box-shadow: 0px 0px 9px 0px #9c4146;
          ">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
            <i style="color: red;" class="fas fa-bug"></i>
          </div>
          <div class="col-4 " >
            <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
            <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
            <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
          </div>
          </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
          <div class="card-footer text-body-secondary">
            <div style="display: flex;justify-content: space-between;">
              <div >
                Assigned To : {{item.assignedTo?.userName}}
              </div>
              <div >
                <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
              </div>
            </div>

          </div>
        </div>
        <div *ngIf="!item.isBug" style="background-color: #d9e7cb;border: 1px solid #386a20;border-radius: 5px;box-shadow: 0px 0px 9px 0px #386a20;">

          <div class="card-header"  style="background-color: #d9e7cb;">
            <div class="row">
              <div class="col-8">
            <i style="color: blue;" class="fas fa-tasks"></i>
          </div>
          <div class="col-4">
            <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
            <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
            <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
          </div>
          </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
          <div class="card-footer text-body-secondary">
              <div style="display: flex;justify-content: space-between;">
                <div >
                  Assigned To : {{item.assignedTo?.userName}}
                </div>
                <div >
                  <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
                </div>
  
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="example-container">
        <h2><i style="color: yellowgreen;" class="fas fa-user"></i> Testing </h2>
    
        <div
          cdkDropList
          [cdkDropListData]="testing"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="card" *ngFor="let item of testing" cdkDrag>
            <div *ngIf="item.isBug" style=" background-color: #f4dedd;border: 1px solid #9c4146;border-radius: 5px;box-shadow: 0px 0px 9px 0px #9c4146;
            ">
            <div class="card-header">
              <div class="row">
                <div class="col-8">
              <i style="color: red;" class="fas fa-bug"></i>
            </div>
            <div class="col-4 " >
              <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
              <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
              <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
            </div>
            </div>
            </div>
  
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer text-body-secondary">
              <div style="display: flex;justify-content: space-between;">
                <div >
                  Assigned To : {{item.assignedTo?.userName}}
                </div>
                <div >
                  <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
                </div>
              </div>
  
            </div>
          </div>
          <div *ngIf="!item.isBug" style="background-color: #d9e7cb;border: 1px solid #386a20;border-radius: 5px;box-shadow: 0px 0px 9px 0px #386a20;">
  
            <div class="card-header"  style="background-color: #d9e7cb;">
              <div class="row">
                <div class="col-8">
              <i style="color: blue;" class="fas fa-tasks"></i>
            </div>
            <div class="col-4">
              <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
              <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
              <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
            </div>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer text-body-secondary">
                <div style="display: flex;justify-content: space-between;">
                  <div >
                    Assigned To : {{item.assignedTo?.userName}}
                  </div>
                  <div >
                    <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
                  </div>
    
              </div>
            </div>
          </div>
        </div>
            
        </div>
      </div>

      <div class="example-container">
        <h2><i style="color: green;" class="fas fa-check"></i> Completed </h2>
    
        <div
          cdkDropList
          [cdkDropListData]="completed"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="card" *ngFor="let item of completed" cdkDrag>
            <div *ngIf="item.isBug" style=" background-color: #f4dedd;border: 1px solid #9c4146;border-radius: 5px;box-shadow: 0px 0px 9px 0px #9c4146;
            ">
            <div class="card-header">
              <div class="row">
                <div class="col-8">
              <i style="color: red;" class="fas fa-bug"></i>
            </div>
            <div class="col-4 " >
              <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
              <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
              <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
            </div>
            </div>
            </div>
  
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer text-body-secondary">
              <div style="display: flex;justify-content: space-between;">
                <div >
                  Assigned To : {{item.assignedTo?.userName}}
                </div>
                <div >
                  <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
                </div>
              </div>
  
            </div>
          </div>
          <div *ngIf="!item.isBug" style="background-color: #d9e7cb;border: 1px solid #386a20;border-radius: 5px;box-shadow: 0px 0px 9px 0px #386a20;">
  
            <div class="card-header"  style="background-color: #d9e7cb;">
              <div class="row">
                <div class="col-8">
              <i style="color: blue;" class="fas fa-tasks"></i>
            </div>
            <div class="col-4">
              <small *ngIf="item.priority == 0" class="badge badge-success float-right">Low</small>
              <small *ngIf="item.priority == 1" class="badge badge-warning float-right">Medium</small>
              <small *ngIf="item.priority == 2" class="badge badge-danger float-right">High</small>
            </div>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer text-body-secondary">
                <div style="display: flex;justify-content: space-between;">
                  <div >
                    Assigned To : {{item.assignedTo?.userName}}
                  </div>
                  <div >
                    <a (click)="showTaskDetails(item)"><i class="fas fa-eye"></i></a>
                  </div>
    
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    
  </div>

