<form
  class="form-horizontal"
  autocomplete="off"
  #createDailyWorkModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewPhase' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'PhaseDetails' | localize" class="pt-3 px-2">

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="date">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="phase.title"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="duration">
              {{ "Description" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="description"
                id="description"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="phase.description"
                #userNameModel="ngModel"
                #userNameEl
              />
              <abp-validation-summary
                [control]="userNameModel"
                [controlEl]="userNameEl"
              ></abp-validation-summary>
            </div>
          </div>
        
        
        
       
      </tab>
      
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createDailyWorkModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
